/* -------- GENERAL -------- */

* {
  font-family: Calibri, sans-serif;
  font-size: 16pt;
  margin: 0;
  /* border: solid pink 2px; */
}

html, body {
  height: 100%;
  overflow: hidden;
}

main {
  display: flex;
  height: 85%;
  overflow: hidden;
}

button {
  cursor: pointer;
  border-radius: 8px;
  border: 0;
  color: #ffffff;
  background: #015524;
  font-size: 12pt;
  max-width: 200px;
}

label {
  cursor: pointer;
}

input {
  cursor: pointer;
}


/* -------- MULTI USE -------- */

.bookings-list {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding-bottom: 50px;
  align-items: center;
}


/* -------- NAV BAR -------- */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw 0 5vw;
  background: #efe6df;
  height: 15%;
  border-bottom: solid black 1px;
}

.logo {
  height: 12vh;
}

.return-to-dashboard, .book-now {
  height: 60px;
  width: 130px;
}


/* -------- DASHBOARD -------- */


/* -- user bookings -- */

.dashboard-page {
  overflow-y: auto;
  position: relative;
  
}

.user-total-box {
  display: flex;
  position: sticky;
  top: 0;
  margin-left: 35px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 20vw;
  background: #efe6df;
}

.dashboard-tag {
  border-bottom: solid #015524 3px;
}

.dashboard-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
}

.user-booking-box {
  display: flex;
  margin: 10px 5vw;
  padding: 10px;
  border: solid grey 1px;
  min-width: 650px;
}

.user-booking-box > div {
  padding-left: 10px;
  width: 70%;
}

.user-booking-box img {
  height: 130px;
  width: 180px;
  border: solid lightgray 1px;
}

.user-booking-box h4 {
  margin-bottom: 10px;
  color: #015524;
}

.box-line {
  width: 100%;
  border-bottom: solid lightgray 1px;
}

.user-booking-box p {
  margin-top: 20px;
  font-size: 12pt;
}


/* -------- BOOKINGS PAGE -------- */

.booking-select-page {
  height: 200vh;
  display: flex;
}

/* -- aside -- */
.bookings-aside {
  display: flex;
  justify-content: center;
  position: relative;
  width: 25vw;
  border-left: solid black 1px;
  height: inherit;
}

.bookings-aside input {
  margin: 10px 5px 10px 10px;
}

.all-bookings-box {
  border: solid black 1px;
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
  background: #efe6df;
  align-items: center;
  height: 300px;
}

.date-input-box {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.update-booking-search {
  height: 32px;
}


/* -------- HIDDEN -------- */

.hidden {
  display: none;
}