/* -------- GENERAL -------- */

* {
  font-family: Calibri, sans-serif;
  font-size: 16pt;
  margin: 0;
  /* border: solid pink 2px; */
}

html, body {
  height: 100%;
  overflow: hidden;
}

main {
  display: flex;
  /* position: relative; */
  flex-direction: column;
  height: 85%;
  overflow: hidden;
}

button {
  cursor: pointer;
  border-radius: 8px;
  border: 0;
  color: #ffffff;
  background: #015524;
  font-size: 12pt;
  max-width: 200px;
}

label {
  cursor: pointer;
}

input {
  cursor: pointer;
}


/* -------- MULTI USE -------- */

.bookings-list {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding-bottom: 50px;
  align-items: center;
}

.user-booking-box, .booking-box {
  display: flex;
  margin: 10px 5vw;
  padding: 10px;
  border: solid grey 1px;
  min-width: 650px;
}

.user-booking-box > div, .booking-box > div {
  padding-left: 10px;
  width: 70%;
}

.user-booking-box img, .booking-box img {
  height: 130px;
  width: 180px;
  border: solid lightgray 1px;
}

.user-booking-box h4, .booking-box h4 {
  margin-bottom: 10px;
  color: #015524;
}

.box-line {
  width: 100%;
  border-bottom: solid lightgray 1px;
  margin-bottom: 5px;
}


/* -------- LOGIN -------- */

.login-page {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  z-index: 1;
}

.login-image {
  filter: blur(8px);
  position: absolute;
  width: 120vw;
  left: -10vw;
  right: -10vw;
  z-index: 2;
}

.login-container {
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  filter: none;
  width: 35vw;
  min-width: 450px;
  height: 40vh;
  min-height: 300px;
  background-color: #efe6df;
  box-shadow:
  1.9px 1px 3.6px rgba(0, 0, 0, 0.153),
  5.4px 2.6px 10px rgba(0, 0, 0, 0.22),
  13px 6.3px 24.1px rgba(0, 0, 0, 0.287),
  43px 21px 80px rgba(0, 0, 0, 0.44);
  border-radius: 30px;
}

h1 {
  color: #015524;
  text-shadow: 1px 1px 1px black;
  font-family: "URW Chancery L", cursive;
  font-size: 30pt;
}

.login-container h2 {
  font-weight: 300;
}

.login-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.login-container label {
  cursor: default;
}

.login-container input {
  cursor: text;
  border-radius: 15px;
  text-indent: 10px;
}

.sign-in {
  height: 40px;
  width: 120px;
  margin: 10px;
}

.login-err {
  color: red;
}


/* -------- NAV BAR -------- */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
  background: #efe6df;
  height: 15%;
  border-bottom: solid black 1px;
}

.logo {
  height: 12vh;
}

.return-to-dashboard, .book-now {
  height: 60px;
  width: 130px;
}


/* -------- DASHBOARD -------- */


/* -- user bookings -- */

.dashboard-page {
  overflow-y: auto;
  position: relative;
}

.stanley-box {
  width: 100vw;
  height: 45vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5vh;
}

.stanley {
  width: 100vw;
}

.user-total-box {
  display: flex;
  position: sticky;
  top: -9vh;
  margin-left: 35px;
  padding: 5px;
  justify-content: center;
  align-items: flex-end;
  height: 14vh;
  width: 20vw;
  padding-bottom: 1vw;
  background: #efe6df;
  border-radius: 0 0 10px 10px;
}

.user-total-box h2, .user-total-box span {
  font-size: 1.8vw;
}

.dashboard-tag {
  border-bottom: solid #015524 3px;
}

.dashboard-content {
  margin-top: -14vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
  z-index: 2;
}

.user-booking-box p {
  margin-top: 20px;
  font-size: 12pt;
}


/* -------- BOOKINGS PAGE -------- */

.booking-select-page {
  display: flex;
  overflow-y: auto;
  position: relative;
  flex-direction: row-reverse;
}

.available-bookings-container {
  padding-bottom: 5vh;
  height: auto;
  overflow: hidden;
  overflow-y: scroll;
}

.booking-box {
  position: relative;
  min-width: 500px;
  width: 50vw;
}

.booking-box button {
  height: 50px;
  width: 120px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.booking-box p {
  font-size: 12pt;
}

.cpn {
  font-weight: bold;
  color: #015524;
  margin-top: 15px;
}

/* -- aside -- */
.bookings-aside {
  display: flex;
  justify-content: center;
  width: 45vw;
}

.bookings-aside input {
  margin: 10px 5px 10px 10px;
}

.all-bookings-box {
  border: solid black 1px;
  margin-top: 40px;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
  background: #efe6df;
  align-items: center;
  height: 400px;
  border-radius: 8px;
  min-width: 250px;
}

.filter-room-types {
  display: flex;
  flex-direction: column;
  margin: 0 5px;
  border-radius: 15px;
}

.date-input-box {
  display: flex;
  flex-direction: column;
}

#bookDateInput {
  margin-left: 0;
}

.date-err {
  color: red;
}

.update-booking-search {
  height: 32px;
}


/* -------- HIDDEN -------- */

.hidden {
  display: none;
}